{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.address) }}
    {{ form_widget(form.address) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}

    {{ form_label(form.age) }}
    {{ form_widget(form.age) }}

    {{ form_rest(form) }}
    <button type="submit">envoyer</button>
    {{ form_end(form) }}
{% endblock %}